body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.nav-container {
  width: 100vw;
  height: 60px;
  position: absolute;
  z-index: 2;
}

.nav-container .nav-response {
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: white;
}

.nav-container .nav-response .nav-brand p {
  font-family: 'Courier New', Courier, monospace;
  font-size: 40px;
  letter-spacing: 0px;
  color: #00CBF5;
  margin-top: 3px;
  padding: 5px 0;
  font-weight: bold;
  -webkit-transition: 1s;
  transition: 1s;
}

@media only screen and (max-width: 575px) {
  .nav-container .nav-response .nav-brand p {
    font-size: 30px;
    letter-spacing: -2px;
  }
}

.nav-container .nav-response .nav-link ul {
  padding: 8px 0;
  margin: 0;
  list-style: none;
}

.nav-container .nav-response .nav-link ul li {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 20px;
  letter-spacing: 0px;
  color: "white";
  position: relative;
  display: inline;
  margin: 0 15px;
  cursor: pointer;
}

.nav-container .nav-response .nav-link ul li::after {
  content: "";
  position: absolute;
  bottom: -7px;
  left: 0px;
  width: 0px;
  height: 3px;
  background-color: #00CBF5;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.nav-container .nav-response .nav-link ul li:hover {
  color: #00CBF5;
}

.nav-container .nav-response .nav-link ul li:hover::after {
  width: 100%;
}

.nav-container .nav-response .nav-small-container i {
  cursor: pointer;
  font-size: 32px;
  color: #00CBF5;
  padding: 10px 10px;
}

@-webkit-keyframes slideDown {
  from {
    height: 0px;
  }
  to {
    height: 80px;
  }
}

@keyframes slideDown {
  from {
    height: 0px;
  }
  to {
    height: 80px;
  }
}

.nav-container .nav-response .nav-small-container:hover .nav-small-btn {
  -webkit-animation: slideDown 0.5s ease-in-out forwards;
          animation: slideDown 0.5s ease-in-out forwards;
}

.nav-container .nav-response .nav-small-container .nav-small-btn {
  position: absolute;
  top: 60px;
  left: 0px;
  height: 0px;
  overflow: hidden;
}

.nav-container .nav-response .nav-small-container .nav-small-btn div {
  height: 40px;
  width: 100vw;
  text-align: center;
  background-color: rgba(0, 204, 245, 0.167);
  border-bottom: 1px solid #00CBF5;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.nav-container .nav-response .nav-small-container .nav-small-btn div p {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 18px;
  letter-spacing: 1px;
  color: #00CBF5;
  padding: 5px 0;
  margin: 0;
  font-weight: bold;
}

.nav-container .nav-sin-form {
  position: absolute;
  width: 100vw;
  height: calc(100vh - 60px);
  top: 60px;
  left: 0px;
}

.hp-container .hp-img-container img {
  height: 100vh;
  width: 100%;
  resize: both;
  -webkit-filter: brightness(40%);
          filter: brightness(40%);
}

.hp-container .hp-content {
  width: 80%;
  position: absolute;
  top: 45%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: white;
}

.hp-container .hp-content p.main-header {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 50px;
  letter-spacing: 0px;
  color: white;
  margin-bottom: 30px;
}

@media only screen and (max-width: 575px) {
  .hp-container .hp-content p.main-header {
    font-size: 32px;
  }
}

.hp-container .hp-content p.second-header {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 22px;
  letter-spacing: 5px;
  color: white;
  margin-bottom: 40px;
}

@media only screen and (max-width: 575px) {
  .hp-container .hp-content p.second-header {
    font-size: 18px;
  }
}

.hp-container .hp-content .btn-group button {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 16px;
  letter-spacing: 0px;
  color: white;
  cursor: pointer;
  border-radius: 20px;
  padding: 5px 25px;
  border: 2px #00CBF5 solid;
  -webkit-box-shadow: 0px 0px 4px 0px #58a0ae;
          box-shadow: 0px 0px 4px 0px #58a0ae;
  outline: none;
}

@media only screen and (min-width: 576px) {
  .hp-container .hp-content .btn-group button:hover {
    -webkit-box-shadow: 0px 0px 13px 0px #58a0ae;
            box-shadow: 0px 0px 13px 0px #58a0ae;
  }
}

.hp-container .hp-content .btn-group button:active {
  -webkit-box-shadow: inset 0px 0px 13px 0px #58a0ae;
          box-shadow: inset 0px 0px 13px 0px #58a0ae;
}

.hp-container .hp-content .btn-group button.explore {
  margin-right: 10px;
  background: none;
  color: #00CBF5;
}

.hp-container .hp-content .btn-group button.seemore {
  background: #00CBF5;
  color: white;
}

.sin-sup-form-container {
  position: absolute;
  top: 40%;
  left: 50%;
  width: 400px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border: 2px #00CBF5 solid;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.863);
  -webkit-box-shadow: 0px 0px 33px 1px #58a0ae;
          box-shadow: 0px 0px 33px 1px #58a0ae;
}

@media only screen and (max-width: 575px) {
  .sin-sup-form-container {
    top: 50%;
    left: 50%;
    width: 280px;
    -webkit-transform: translate(-50%, -60%);
            transform: translate(-50%, -60%);
  }
}

.sin-sup-form-container p {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 35px;
  letter-spacing: 2px;
  color: #00CBF5;
  text-align: center;
  margin: 0px;
  padding: 20px 0;
}

@media only screen and (max-width: 575px) {
  .sin-sup-form-container p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;
    letter-spacing: 2px;
    color: #00CBF5;
  }
}

.sin-sup-form-container form {
  padding: 0px 30px;
  color: white;
}

@media only screen and (max-width: 575px) {
  .sin-sup-form-container form {
    padding: 0px 15px;
  }
}

.sin-sup-form-container form .input-field {
  position: relative;
}

.sin-sup-form-container form .input-field i {
  position: absolute;
  top: 21px;
  left: 13px;
  font-size: 32px;
  color: #00CBF5;
}

@media only screen and (max-width: 575px) {
  .sin-sup-form-container form .input-field i {
    top: 16px;
  }
}

.sin-sup-form-container form .input-field input {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 20px;
  letter-spacing: 0px;
  color: black;
  outline: none;
  margin: 10px 0px;
  background: white;
  border-radius: 20px;
  width: 100%;
  padding: 10px 0px;
  padding-left: 55px;
  border: 2px #00CBF5 solid;
}

.sin-sup-form-container form .input-field input::-webkit-input-placeholder {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 20px;
  letter-spacing: 2px;
  color: #cacaca;
}

.sin-sup-form-container form .input-field input:-ms-input-placeholder {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 20px;
  letter-spacing: 2px;
  color: #cacaca;
}

.sin-sup-form-container form .input-field input::-ms-input-placeholder {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 20px;
  letter-spacing: 2px;
  color: #cacaca;
}

.sin-sup-form-container form .input-field input::placeholder {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 20px;
  letter-spacing: 2px;
  color: #cacaca;
}

@media only screen and (max-width: 575px) {
  .sin-sup-form-container form .input-field input::-webkit-input-placeholder {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
    letter-spacing: 2px;
    color: #cacaca;
  }
  .sin-sup-form-container form .input-field input:-ms-input-placeholder {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
    letter-spacing: 2px;
    color: #cacaca;
  }
  .sin-sup-form-container form .input-field input::-ms-input-placeholder {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
    letter-spacing: 2px;
    color: #cacaca;
  }
  .sin-sup-form-container form .input-field input::placeholder {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
    letter-spacing: 2px;
    color: #cacaca;
  }
}

@media only screen and (max-width: 575px) {
  .sin-sup-form-container form .input-field input {
    padding: 5px 0px;
    padding-left: 55px;
  }
}

.sin-sup-form-container form .input-field .error-text {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 16px;
  letter-spacing: 1px;
  color: #d84b4b;
  padding-left: 5px;
  margin: 0;
}

@media only screen and (max-width: 575px) {
  .sin-sup-form-container form .input-field .error-text {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 14px;
    letter-spacing: 1px;
    color: #d84b4b;
  }
}

.sin-sup-form-container form button,
.sin-sup-form-container form .google-btn {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 18px;
  letter-spacing: 2px;
  color: white;
  outline: none;
  margin: 10px 0;
  width: 100%;
  border-radius: 20px;
  border: none;
  height: 45px;
  background-color: #00CBF5;
}

@media only screen and (max-width: 575px) {
  .sin-sup-form-container form button,
  .sin-sup-form-container form .google-btn {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    letter-spacing: 2px;
    color: white;
    height: 40px;
  }
}

.sin-sup-form-container form button {
  margin-top: 40px;
}

.sin-sup-form-container form button:active {
  -webkit-box-shadow: inset 0px 0px 13px 3px #58a0ae;
          box-shadow: inset 0px 0px 13px 3px #58a0ae;
}

.sin-sup-form-container form a {
  text-decoration: none !important;
}

.sin-sup-form-container form a .google-btn {
  cursor: pointer;
  position: relative;
  text-align: center;
  padding: 8px 0;
  background-color: #d84b4b;
}

.sin-sup-form-container form a .google-btn i {
  position: absolute;
  font-size: 26px;
  top: 8px;
  left: 12px;
}

@media only screen and (max-width: 575px) {
  .sin-sup-form-container form a .google-btn i {
    font-size: 22px;
    top: 8px;
    left: 10px;
  }
}

.sin-sup-form-container form a .google-btn:active {
  -webkit-box-shadow: inset 0px 0px 13px 3px #a84040;
          box-shadow: inset 0px 0px 13px 3px #a84040;
}

.sin-sup-form-container form .sin-sup-switch {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 14px;
  letter-spacing: 2px;
  color: white;
  margin: 20px 0;
  cursor: pointer;
  text-align: center;
}

@media only screen and (max-width: 575px) {
  .sin-sup-form-container form .sin-sup-switch {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 12px;
    letter-spacing: 2px;
    color: white;
  }
}

.sin-sup-form-container form .form-exit {
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
}

.sin-sup-form-container form .form-exit i {
  font-size: 30px;
}

.sin-sup-form-container .form-loading {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.863);
  border-radius: 20px;
  z-index: 5;
}

.sin-sup-form-container .form-loading .spinner-container {
  position: absolute;
  color: white;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.hb-container {
  position: fixed;
  width: 100vw;
  background-color: #0085A1;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hb-container .hb-rootname {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 30px;
  letter-spacing: 2px;
  color: white;
  margin: 5px 40px;
}

.hb-container .hb-auth-features ul {
  margin: 8px 5px;
  list-style: none;
}

.hb-container .hb-auth-features ul li {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 18px;
  letter-spacing: 2px;
  color: white;
  display: inline;
  margin: 0px 10px;
  position: relative;
  cursor: pointer;
}

.hb-container .hb-auth-features ul li:nth-child(1)::after {
  content: "";
  position: absolute;
  top: -3px;
  right: -10px;
  width: 2px;
  height: 30px;
  background-color: #b6b6b685;
}

.hb-container .hb-auth-features ul li img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #00CBF5;
  margin-right: 5px;
}

.p-container {
  position: relative;
  top: 60px;
}
/*# sourceMappingURL=styles.css.map */