$theme-colors: (
  "main": #00CBF5,
  "lightMain": rgba(0, 204, 245, 0.164),
  "darkMain": rgb(0, 213, 255),
  "shadowMain": rgb(88, 160, 174),
  "darkLight": rgba(0, 0, 0, 0.863),
  "dangerText": rgb(216, 75, 75),
  "dangerTextShadow": rgb(168, 64, 64),
  "headerBarMain": rgb(15, 162, 192),
  "dashHeaderBar": #b6b6b685,
  "mainName": rgb(6, 114, 136),
  "placeholderBg": rgba(235, 235, 235, 0.678),
  "frameBg": rgba(248, 248, 248, 0.555)
);

$breakpoints: (
    "phone":        576px,
    "tablet":       768px,
    "tablet-wide":  992px,
    "desktop":      1200px,
    "desktop-wide": 1440px
);

// Normal fonts
@mixin fonts($type: treb) {
  @if $type == lucida {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  } @else if $type == courier {
    font-family: 'Courier New', Courier, monospace;
  } @else {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
}

// Mixin for styling text
@mixin pStyle($fontType: treb, $fontSize: 16px, $fontColor: "black", $letterSpacing: 0px) {
  @include fonts($fontType);
  
  font-size: $fontSize;
  letter-spacing: $letterSpacing;

  @if map-has-key($map: $theme-colors, $key: $fontColor) {
    $fontColor: map-get($map: $theme-colors, $key: $fontColor);
  }

  color: $fontColor;
}

// Media querries
@mixin mq($width, $type: min) {
  @if map-has-key($map: $breakpoints, $key: $width){
    $width: map-get($map: $breakpoints, $key: $width);
    @if $type == max {
      $width: $width - 1px;
      @media only screen and (max-width: $width) {
        @content;
      }
    } @else {
      @media only screen and (min-width: $width) {
        @content;
      }
    }
  }
};

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Nav bar
.nav-container {
  width: 100vw;
  height: 60px;
  position: absolute;
  z-index: 2;

  .nav-response {
    max-width: 1200px;
    padding: 0 20px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    color: white;

    .nav-brand p {
      @include pStyle(courier, 40px, main, 0px);
      margin-top: 3px;
      padding: 5px 0;
      font-weight: bold;
      transition: 1s;

      @include mq("phone", max) {
        font-size: 30px;
        letter-spacing: -2px;
      }
    }

    .nav-link ul {
      padding: 8px 0;
      margin: 0;
      list-style: none;

      li {
        @include pStyle(lucida, 20px, "white", 0px);
        position: relative;
        display: inline;
        margin: 0 15px;
        cursor: pointer;

        &::after {
          content: "";
          position: absolute;
          bottom: -7px;
          left: 0px;
          width: 0px;
          height: 3px;
          background-color: map-get($map: $theme-colors, $key: main);
          transition: 0.5s;
        }

        &:hover {
          color: map-get($map: $theme-colors, $key: "main");

          &::after {
            width: 100%;
          }
        }
      }
    }

    .nav-small-container {
      i {
        cursor: pointer;
        font-size: 32px;
        color: map-get($map: $theme-colors, $key: main);
        padding: 10px 10px;
      }

      @keyframes slideDown {
        from {
          height: 0px;
        }

        to {
          height: 40px * 2;
        }
      }

      &:hover .nav-small-btn {
        animation: slideDown 0.5s ease-in-out forwards;
      }

      .nav-small-btn {
        position: absolute;
        top: 60px;   // Width of nav height
        left: 0px;
        height: 0px;
        overflow: hidden;

        div {
          height: 40px;
          width: 100vw;
          text-align: center;
          background-color: rgba(0, 204, 245, 0.167);
          border-bottom: 1px solid map-get($map: $theme-colors, $key: main);
          transition: 0.6s;

          p {
            @include pStyle(treb, 18px, main, 1px);
            padding: 5px 0;
            margin: 0;
            font-weight: bold;
          }
        }
      }
    }
  }

  .nav-sin-form {
    position: absolute;
    width: 100vw;
    height: calc(100vh - 60px);
    top: 60px;
    left: 0px;
    z-index: 3;
  }
}

.hp-container {
  .hp-img-container img {
    height: 100vh;
    width: 100%;
    resize: both;
    filter: brightness(40%);
  }

  .hp-content {
    width: 80%;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;

    p.main-header {
      @include pStyle(treb, 50px, white, 0px);
      margin-bottom: 30px;

      @include mq("phone", max) {
        font-size: 32px;
      }
    }

    p.second-header {
      @include pStyle(treb, 22px, white, 5px);
      margin-bottom: 40px;

      @include mq("phone", max) {
        font-size: 18px;
      }
    }

    .btn-group button {
      @include pStyle(treb, 16px, white, 0px);
      cursor: pointer;
      border-radius: 20px;
      padding: 5px 25px;
      border: 2px map-get($map: $theme-colors, $key: main) solid;
      box-shadow: 0px 0px 4px 0px map-get($map: $theme-colors, $key: shadowMain);
      outline: none;

      @include mq("phone", min) {
        &:hover {
          box-shadow: 0px 0px 13px 0px map-get($map: $theme-colors, $key: shadowMain);
        }
      }

      &:active {
        box-shadow: inset 0px 0px 13px 0px map-get($map: $theme-colors, $key: shadowMain)
      }
  
      &.explore {
        margin-right: 10px;
        background: none;
        color: map-get($map: $theme-colors, $key: main);
      }
  
      &.seemore {
        background: map-get($map: $theme-colors, $key: main);
        color: white;
      }
    }
  }
}

.sin-sup-form-container {
  position: fixed;
  top: 48%;
  left: 50%;
  width: 400px;
  transform: translate(-50%, -50%);
  border: 2px map-get($map: $theme-colors, $key: main) solid;
  border-radius: 20px;
  background-color: map-get($map: $theme-colors, $key: darkLight);
  box-shadow: 0px 0px 33px 1px map-get($map: $theme-colors, $key: shadowMain);
  z-index: 4!important;

  @include mq(phone, max) {
    top: 55%;
    left: 50%;
    width: 280px;
    transform: translate(-50%, -50%);
  }

  p {
    @include pStyle(treb, 35px, "main", 2px);
    text-align: center;
    margin: 0px;
    padding: 20px 0;

    @include mq(phone, max) {
      @include pStyle(treb, 25px, "main", 2px);
    }
  }

  form {
    padding: 0px 30px;
    color: white;

    @include mq(phone, max) {
      padding: 0px 15px;
    }

    .input-field {
      position: relative;

      i {
        position: absolute;
        top: 21px;
        left: 13px;
        font-size: 32px;
        color: map-get($map: $theme-colors, $key: main);

        @include mq(tablet, max) {   
          top: 18px;
          font-size: 24px;
        }
      }

      input {
        @include pStyle(treb, 20px, black, 0px);
        outline: none;
        margin: 10px 0px;
        background: white;
        border-radius: 20px;
        width: 100%;
        padding: 10px 0px;
        padding-left: 55px;
        border: 2px map-get($map: $theme-colors, $key: main) solid;

        @include mq(tablet, max) {
          font-size: 18px;
          padding: 60px 0px;
        }

        &::placeholder {
          @include pStyle(treb, 20px, rgb(202, 202, 202), 2px);

          @include mq(phone, max) {
            @include pStyle(treb, 18px, rgb(202, 202, 202), 2px);
          }
        }

        @include mq(phone, max) {   
          padding: 5px 0px;
          padding-left: 55px;
        }
      }

      .error-text {
        @include pStyle(treb, 16px, dangerText, 1px);
        padding-left: 5px;
        margin: 0;

        @include mq(phone, max) {
          @include pStyle(treb, 14px, dangerText, 1px);
        }
      }
    }

    .form-errmsg {
      @include pStyle(treb, 18px, rgb(255, 86, 86), 1px);
      padding-bottom: 0;
    }

    button,
    .google-btn {
      @include pStyle(treb, 18px, white, 2px);
      outline: none;
      margin: 10px 0;
      width: 100%;
      border-radius: 20px;
      border: none;
      height: 45px;
      background-color: map-get($map: $theme-colors, $key: main);

      @include mq(phone, max) {
        @include pStyle(treb, 16px, white, 2px);
        height: 40px;
      }
    }

    button {
      margin-top: 40px;
      &:active {
        box-shadow: inset 0px 0px 13px 3px map-get($map: $theme-colors, $key: shadowMain)
      }
    }

    a {
      text-decoration: none!important;
      
      .google-btn {
        cursor: pointer;
        position: relative;
        text-align: center;
        padding: 8px 0;
        background-color: map-get($map: $theme-colors, $key: dangerText);
  
        i {
          position: absolute;
          font-size: 26px;
          top: 8px;
          left: 12px;
  
          @include mq(phone, max) {
            font-size: 22px;
            top: 8px;
            left: 10px;
          }
        }
  
        &:active {
          box-shadow: inset 0px 0px 13px 3px map-get($map: $theme-colors, $key: dangerTextShadow)
        }
      }
    }
    
    .sin-sup-switch {
      @include pStyle(treb, 14px, white, 2px);
      margin: 20px 0;
      cursor: pointer;
      text-align: center;

      @include mq(phone, max) {
        @include pStyle(treb, 12px, white, 2px);
      }
    }

    .form-exit {
      position: absolute;
      top: 15px;
      right: 15px;
      cursor: pointer;

      i {
        font-size: 30px;
      }
    }
  }


  .form-loading {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: map-get($map: $theme-colors, $key: darkLight);
    border-radius: 20px;
    z-index: 5;

    .spinner-container {
      position: absolute;
      color: white;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.hb-background {
  top: 0px;
  width: 100vw;
  top: 0px;
  background-color: map-get($map: $theme-colors, $key: headerBarMain);
  height: 60px;
  z-index: 2;
  position: fixed;

  .hb-container {
    width: 100%;
    display: flex;
    justify-content: space-between;

    .hb-rootname {
      margin: 5px 40px;
      @include mq(tablet, max) {
        margin: 5px 0;
      }

      a:active,
      a:hover,
      a:link,
      a:visited {
        cursor: pointer;
        text-decoration: none;

        .logo-wraper {
          background-color: white;
          width: 45px;
          height: 45px;
          border-radius: 10px;
          margin-top: 2px;
          display: flex;
          justify-content: center;
          align-items: center;
          box-shadow: 0px 0px 12px 1px map-get($map: $theme-colors, $key: dashHeaderBar);

          p {
            @include pStyle(treb, 30px, main, 2px);
            margin: 0;
          }
        }

        img {
          width: 45px;
          height: 45px;
          position: relative;
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }

    .hb-auth-features {
      ul {
        margin: 8px 0px 8px 5px;
        list-style: none;
        padding: 0;

        @include mq(tablet, max) {
          margin-top: 14px;
        }

        li {
          @include pStyle(treb, 18px, white, 2px);
          display: inline;
          margin: 0px 10px;
          position: relative;
          cursor: pointer;
          @include mq(tablet, max) {
            @include pStyle(treb, 14px, white, 1px);
          }

          a:active,
          a:hover,
          a:link,
          a:visited {
            @include pStyle(treb, 18px, white, 2px);
            cursor: pointer;
            text-decoration: none;

            @include mq(tablet, max) {
              @include pStyle(treb, 14px, white, 1px);
            }
          }

          &:nth-child(1)::after {
            content: "";
            position: absolute;
            top: -3px;
            right: -10px;
            width: 2px;
            height: 30px;
            background-color: map-get($map: $theme-colors, $key: dashHeaderBar);
          }

          img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            border: 1px solid map-get($map: $theme-colors, $key: main);
            margin-right: 5px;

            @include mq(tablet, max) {
              width: 30px;
              height: 30px;
            }
          }
        }
      }
    }
  }
}

.p-container {
  position: relative;
  top: 60px;

  .p-ava {
    padding-top: 20px;

    img {
      width: 200px;
      height: 200px;
      border: 3px solid map-get($map: $theme-colors, $key: main);
      border-radius: 50%;

      position: relative;
      left: 50%;
      transform: translateX(-50%);

      @include mq(tablet, max) {
        width: 150px;
        height: 150px;
      }
    }

    p {
      @include pStyle(lucida, 25px, mainName, 0px);
      margin-top: 10px;
      text-align: center;
    }
  }

  .p-friend-add {
    position: relative;
    text-align: center;
    display: flex;
    justify-content: center;

    .p-add-btn {
      position: relative;
      @include pStyle(treb, 16px, white, 0px);
      padding: 5px 15px;
      border: none;
      border-radius: 10px;
      background-color: map-get($map: $theme-colors, $key: main);
      box-shadow: 0px 0px 4px 0px map-get($map: $theme-colors, $key: shadowMain);
      cursor: pointer;
      margin: 5px;

      @include mq(tablet, min) {
        &:active {
          box-shadow: inset 0px 0px 4px 0px map-get($map: $theme-colors, $key: shadowMain);
        }
      }

      i {
        margin-right: 10px;
      }
    }

    .p-danger-btn {
      @include pStyle(treb, 16px, white, 0px);
      padding: 5px 15px;
      border: none;
      border-radius: 10px;
      background-color: map-get($map: $theme-colors, $key: dangerText);
      box-shadow: 0px 0px 4px 0px map-get($map: $theme-colors, $key: dangerTextShadow);
      cursor: pointer;
      margin: 5px;

      @include mq(tablet, min) {
        &:active {
          box-shadow: inset 0px 0px 4px 0px map-get($map: $theme-colors, $key: dangerTextShadow);
        }
      }

      i {
        margin-right: 10px;
      }
    }
  }

  .p-basic-info {
    margin-top: 20px;
    border: 1px solid map-get($map: $theme-colors, $key: dashHeaderBar);
    border-radius: 10px;
    padding: 5px 0;
    background-color: map-get($map: $theme-colors, $key: frameBg);

    .info-row {
      display: flex;
      padding: 5px 5px;

      i {
        color: map-get($map: $theme-colors, $key: main);
        font-size: 20px;
      }

      p {
        margin: 0;
        padding-left: 10px;
      }
    }

    .p-basic-edit {
      @include pStyle(lucida, 14px, dashHeaderBar, 0px);
      margin-top: 5px;
      text-align: center;
      cursor: pointer;

      @include mq(tablet, min) {
        &:hover {
          @include pStyle(lucida, 14px, main, 0px);
          font-weight: bold;
        }
      }
    }
  }

  .p-friend-list {
    position: relative;
    margin-top: 20px;
    border: 1px solid map-get($map: $theme-colors, $key: dashHeaderBar);
    border-radius: 10px;
    background-color: map-get($map: $theme-colors, $key: frameBg);

    .fl-title {
      cursor: pointer;
      @include pStyle(treb, 18px, main, 0px);
      margin: 5px 15px;
    }

    .fl-nofriend {
      margin-left: 20px;
    }

    .fl-row {
      cursor: pointer;
      display: flex;
      margin: 15px 20px;

      .fl-ava img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
      }

      .fl-name {
        @include pStyle(treb, 18px, black, 0px);
        padding: 5px;

        @include mq(tablet, min) {
          &:hover {
            color: map-get($map: $theme-colors, $key: main)!important;
          }
        }
      }
    }

    ul {
      list-style: none;

      li {
        @include pStyle(treb, 16px, black, 0px);
      }
    }

    .fl-edit {
      @include pStyle(lucida, 14px, dashHeaderBar, 0px);
      position: absolute;
      cursor: pointer;
      right: 10px;
      top: 5px;

      @include mq(tablet, min) {
        &:hover {
          @include pStyle(lucida, 14px, main, 0px);
          font-weight: bold;
        }
      }
    }
  }

  .p-post-area {
    margin-top: 30px;
    border: 1px solid map-get($map: $theme-colors, $key: dashHeaderBar);
    border-radius: 10px;
  
    .post-wrapper {
      margin: 20px 20px;
  
      img {
        width: 40px;
        height: 40px;
        vertical-align: top;
        margin-right: 15px;
        border-radius: 50%;
      }
  
      textarea {
        outline: none;
        border: none;
        border-radius: 10px;
        width: calc(100% - 40px - 15px);
        
        &::placeholder {
          font-size: 20px;
        }
      }
    }
  
    .post-btn {
      text-align: center;
      margin: 10px 0;
  
      button {
        width: 80%;
        outline: none;
        border: none;
        border-radius: 20px;
        background-color: map-get($map: $theme-colors, $key: main);
        padding: 5px;
        color: white;
        box-shadow: 0px 0px 5px 0px map-get($map: $theme-colors, $key: shadowMain);
  
        &:active {
          box-shadow: inset 0px 0px 5px 0px map-get($map: $theme-colors, $key: shadowMain);
        }
      }
    }
  }
  
  .view-no-post p {
    padding: 10px;
  }
  
  .view-tab {
    display: flex;
    margin-top: 20px;

    .view-heading {
      @include pStyle(lucida, 20px, main, 0px);
      margin: 0px 20px 0px 0px;
      cursor: pointer;
    }
  }
}

.post-containter {
  position: relative;
  border: 1px solid map-get($map: $theme-colors, $key: dashHeaderBar);
  border-radius: 10px;
  margin: 20px 0;
  padding: 20px;
  transition: 0.5s;
  background-color: map-get($map: $theme-colors, $key: frameBg);

  @include mq(tablet, max) {
    padding: 10px 5px;
  }

  .post-header {
    display: flex;
    justify-content: space-between;
    
    img {
      width: 40px;
      height: 40px;
      vertical-align: top;
      border-radius: 50%;
      border: 2px solid map-get($map: $theme-colors, $key: dashHeaderBar);
      margin-right: 80px;

      @include mq(tablet, max) {
        width: 35px;
        height: 35px;
        margin: 5px 80px 0px 5px;
      }
    }

    .post-owner {
      @include pStyle(lucida, 22px, main, 0px);
      cursor: pointer;
      margin: 0;

      @include mq(tablet, min) {
        &:hover {
          color: map-get($map: $theme-colors, $key: mainName);
        }
      }

      @include mq(tablet, max) {
        @include pStyle(lucida, 18px, main, 0px);
      }
    }

    .post-date {
      @include pStyle(treb, 16px, rgb(128, 128, 128), 0px);
      margin: 0;

      @include mq(tablet, max) {
        @include pStyle(treb, 13px, rgb(128, 128, 128), 0px);
      }
    }

    .post-auth-edit i {
      margin: 0px 4px;
      font-size: 20px;
      cursor: pointer;

      &:nth-child(1) {
        color: map-get($map: $theme-colors, $key: main);
      }

      &:nth-child(2) {
        color: map-get($map: $theme-colors, $key: dangerText);
      }

      @include mq(tablet, max) {
        font-size: 16px;
      }
    }
  }

  .post-body {
    padding: 5px;
    margin: 10px 0;

    .post-body-p {
      @include pStyle(lucida, 16px, black, 0px);
      margin: 0;

      @include mq(tablet, max) {
        padding: 5px;
        @include pStyle(lucida, 14px, black, 0px);
      }
    }

    .post-edit-area {
      textarea {
        width: 100%;
        border-radius: 10px;
        border: 1px solid map-get($map: $theme-colors, $key: dashHeaderBar);
        padding: 10px;
        outline: none;
      }

      .post-edit-button {
        text-align: right;
        
        button.btn-confirm,
        button.btn-discard {
          @include pStyle(treb, 16px, white, 0px);
          outline: none;
          border: none;
          border-radius: 10px;
          margin: 5px;
          padding: 5px 20px;
        }

        button.btn-confirm {
          background-color: map-get($map: $theme-colors, $key: main);
          box-shadow: 0px 0px 4px 0px map-get($map: $theme-colors, $key: shadowMain);

          @include mq(tablet, min) {
            &:active {
              box-shadow: inset 0px 0px 4px 0px map-get($map: $theme-colors, $key: shadowMain);
            }
          }
        }

        button.btn-discard {
          background-color: map-get($map: $theme-colors, $key: dangerText);          
          box-shadow: 0px 0px 4px 0px map-get($map: $theme-colors, $key: dangerTextShadow);

          @include mq(tablet, min) {
            &:active {
              box-shadow: inset 0px 0px 4px 0px map-get($map: $theme-colors, $key: dangerTextShadow);
            }
          }
        }
      }
    }
  }

  .post-footer {
    display: flex;
    justify-content: space-between;
    @include mq(tablet, max) {
      padding: 0px 10px;
    }

    .footer-likes {
      @include pStyle(treb, 16px, main, 0px);
      cursor: pointer;
      border: 2px solid map-get($map: $theme-colors, $key: main);
      border-radius: 30px;
      padding: 6px 20px;

      &:active {
        box-shadow: inset 0px 0px 4px 0px map-get($map: $theme-colors, $key: shadowMain);
      }
    }

    .footer-cmts {
      @include pStyle(treb, 16px, main, 0px);
      padding-top: 15px;
    }

    .post-liked {
      background-color: map-get($map: $theme-colors, $key: main);
      color: white!important; 
    }
  }

  .post-delete-ask {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: rgba(51, 51, 51, 0.904);
    border-radius: 10px;
    text-align: center;
    
    .post-delete-content {
      position: relative;
      top: 50%;
      transform: translateY(-50%);

      @include mq(tablet, max) {
        padding: 20px;
      }

      .delete-question {
        @include pStyle(treb, 24px, white, 1px);

        @include mq(tablet, max) {
          @include pStyle(treb, 22px, white, 1px);
        }
      }

      .delete-btn-group {
        button {
          @include pStyle(treb, 16px, white, 0px);
          outline: none;
          border: none;
          border-radius: 10px;
          margin: 5px;
          padding: 5px 20px;
        }

        button.btn-confirm {
          background-color: map-get($map: $theme-colors, $key: main);
          box-shadow: 0px 0px 4px 0px map-get($map: $theme-colors, $key: shadowMain);

          @include mq(tablet, min) {
            &:active {
              box-shadow: inset 0px 0px 4px 0px map-get($map: $theme-colors, $key: shadowMain);
            }
          }
        }

        button.btn-cancel {
          background-color: map-get($map: $theme-colors, $key: dangerText);          
          box-shadow: 0px 0px 4px 0px map-get($map: $theme-colors, $key: dangerTextShadow);

          @include mq(tablet, min) {
            &:active {
              box-shadow: inset 0px 0px 4px 0px map-get($map: $theme-colors, $key: dangerTextShadow);
            }
          }
        }
      }
    }
  }

  .comment-section {
    margin-top: 10px;
    border-top: 1px solid map-get($map: $theme-colors, $key: lightMain);

    textarea {
      margin-top: 10px;
      width: 100%;
      outline: none;
      border-radius: 20px;
      border: 1px solid map-get($map: $theme-colors, $key: dashHeaderBar);
      padding: 5px 10px;
      background-color: map-get($map: $theme-colors, $key: placeholderBg);

      &::placeholder {
        @include pStyle(treb, 16px, dashHeaderBar, 0px);
      }
    }
  }
  
  .comment-view {
    margin-top: 10px;
    border-top: 1px solid map-get($map: $theme-colors, $key: lightMain);

    .cmt-row {
      margin: 10px 5px;
      display: flex;

      .cmt-avatar {
        margin-right: 10px;
        cursor: pointer;
        
        img {
          width: 40px;
          height: 40px;
          vertical-align: top;
          border-radius: 50%;
          border: 2px solid map-get($map: $theme-colors, $key: dashHeaderBar);
        }
      }

      .cmt-area {
        display: flex;
        width: 100%;
        background-color: map-get($map: $theme-colors, $key: placeholderBg);
        border-radius: 15px;
        padding: 10px;

        .cmt-name {
          @include pStyle(treb, 17px, main, 0px);
          cursor: pointer;
          margin-right: 10px;
          font-weight: bold;
          margin-bottom: 0;
        }

        .cmt-content {
          @include pStyle(treb, 16px, black, 0px);
          margin-bottom: 0;
        }
      }
    }

    .cmt-see-more {
      text-align: center;
      
      p {
        @include pStyle(lucida, 16px, main, 0px);
        font-weight: bold;
        cursor: pointer;
        margin: 0;

        @include mq(tablet, max) {
          margin-top: 15px;
          @include pStyle(lucida, 14px, main, 0px);
        }
      }
    }

    .cmt-util {
      display: flex;
      padding-left: 60px;

      .cmt-time {
        @include pStyle(lucida, 12px, rgb(141, 141, 141), 0px);
        margin-right: 10px;
        margin-bottom: 5px;
        
        @include mq(tablet, max) {
          @include pStyle(lucida, 10px, rgb(141, 141, 141), 0px);
        }
      }

      .cmt-delete-btn {
        @include pStyle(lucida, 12px, dangerText, 0px);
        margin-bottom: 5px;
        cursor: pointer;

        @include mq(tablet, max) {
          @include pStyle(lucida, 10px, dangerText, 0px);
        }
      }
    }
  }
}

.post-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.edit-container {
  position: relative;
  margin-top: 20px;
  border: 1px solid map-get($map: $theme-colors, $key: dashHeaderBar);
  border-radius: 10px;
  padding: 15px;
  background-color: map-get($map: $theme-colors, $key: frameBg);

  .edit-title {
    @include pStyle(lucida, 18px, main, 0px);
    font-weight: bold;
  }

  .edit-form-container form {
    .edit-row {
      margin: 5px 0px;

      @include mq(tablet, max) {
        .col-2 {
          padding-left: 0;
        }

        .col-10 {
          padding-left: 25px;
        }
      }

      p {
        @include pStyle(lucida, 16px, black, 0px);
        padding: 6px 0px;
      }
      
      .input-field {
        input[type=text],
        input[type=date] {
          width: 100%;
          padding: 5px 5px;
          border-radius: 10px;
          outline: none;
          border: 1px solid map-get($map: $theme-colors, $key: dashHeaderBar);
          background-color: map-get($map: $theme-colors, $key: placeholderBg);
        }

        .error-text {
          @include pStyle(lucida, 13px, dangerText, 0px);
          margin: 5px;
        }
      }

      .input-field {
        label {
          @include pStyle(treb, 16px, white, 0px);
          background-color: map-get($map: $theme-colors, $key: main);
          box-shadow: 0px 0px 4px 0px map-get($map: $theme-colors, $key: shadowMain);
          padding: 5px 10px;
          border-radius: 10px;

          @include mq(tablet, min) {
            &:active {
              box-shadow: inset 0px 0px 4px 0px map-get($map: $theme-colors, $key: shadowMain);
            }
          }

          i {
            margin-right: 10px;
          }

          input[type=file] {
            display: none;
          }
        }

        .input-file-name {
          display: inline;
          margin-left: 15px;
        }
      }
    }
  }

  .edit-form-btn {
    display: flex;
    justify-content: flex-end;
    
    .btn-update {
      @include pStyle(treb, 16px, white, 0px);
      outline: none;
      border: none;
      border-radius: 10px;
      padding: 5px 15px;
      margin: 5px;
      background-color: map-get($map: $theme-colors, $key: main);
      box-shadow: 0px 0px 4px 0px map-get($map: $theme-colors, $key: shadowMain);

      @include mq(tablet, min) {
        &:active {
          box-shadow: inset 0px 0px 4px 0px map-get($map: $theme-colors, $key: shadowMain);
        }
      }
    }

    .btn-discard {      
      @include pStyle(treb, 16px, white, 0px);
      cursor: pointer;
      outline: none;
      border: none;
      border-radius: 10px;
      padding: 5px 15px;
      margin: 5px;
      background-color: map-get($map: $theme-colors, $key: dangerText);          
      box-shadow: 0px 0px 4px 0px map-get($map: $theme-colors, $key: dangerTextShadow);

      @include mq(tablet, min) {
        &:active {
          box-shadow: inset 0px 0px 4px 0px map-get($map: $theme-colors, $key: dangerTextShadow);
        }
      }
    }
  }
}

.friend-container {
  border: 1px solid map-get($map: $theme-colors, $key: dashHeaderBar);
  border-radius: 10px;
  margin-top: 20px;
  padding: 20px;
  background-color: map-get($map: $theme-colors, $key: frameBg);

  @include mq(tablet, max) {
    padding: 20px 10px;
  }

  .friend-view-select-tab {
    display: flex;
    justify-content: flex-start;

    .friend-head {
      @include pStyle(treb, 18px, main, 0px);
      cursor: pointer;
      margin: 0px 0px 20px 0px;
      padding: 0px 15px;
      text-align: center;

      @include mq(tablet, max) {
        @include pStyle(treb, 15px, main, 0px);
      }
    }
  }

  .friend-row-container {
    display: flex;
    justify-content: space-between;
    background-color: map-get($map: $theme-colors, $key: placeholderBg);
    border-radius: 10px;
    padding: 10px;
    margin: 10px 0;

    @include mq(tablet, max) {
      padding: 10px 0px;
    }

    .friend-info {
      display: flex;
      margin-left: 10px;

      .friend-ava img {
        cursor: pointer;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 1px solid map-get($map: $theme-colors, $key: main);
      }

      .friend-name {
        @include pStyle(treb, 18px, main, 0px);
        cursor: pointer;
        padding: 5px 10px;
        
        p {
          margin: 0;
        }
      }
    }

    .friend-btn-two {
      display: flex;
    }

    .f-btn-danger {
      @include pStyle(treb, 16px, white, 0px);
      cursor: pointer;
      outline: none;
      border: none;
      border-radius: 10px;
      padding: 5px 15px;
      margin: 5px;
      background-color: map-get($map: $theme-colors, $key: dangerText);          
      box-shadow: 0px 0px 4px 0px map-get($map: $theme-colors, $key: dangerTextShadow);

      @include mq(tablet, max) {
        @include pStyle(treb, 14px, white, 0px);
      }

      @include mq(tablet, min) {
        &:active {
          box-shadow: inset 0px 0px 4px 0px map-get($map: $theme-colors, $key: dangerTextShadow);
        }
      }
    }

    .f-btn-approve {
      @include pStyle(treb, 16px, white, 0px);
      cursor: pointer;
      outline: none;
      border: none;
      border-radius: 10px;
      padding: 5px 15px;
      margin: 5px;
      background-color: map-get($map: $theme-colors, $key: main);
      box-shadow: 0px 0px 4px 0px map-get($map: $theme-colors, $key: shadowMain);

      @include mq(tablet, max) {
        @include pStyle(treb, 14px, white, 0px);
      }

      @include mq(tablet, min) {
        &:active {
          box-shadow: inset 0px 0px 4px 0px map-get($map: $theme-colors, $key: shadowMain);
        }
      }
    }
  }
}

.hover-btn-container {
  position: absolute;
  top: 0px;
  z-index: 1;

  .hover-btn {
    @include pStyle(treb, 16px, white, 0px);
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 10px;
    padding: 5px 15px;
    margin: 5px;
    background-color: map-get($map: $theme-colors, $key: dangerText);          
    box-shadow: 0px 0px 4px 0px map-get($map: $theme-colors, $key: dangerTextShadow);

    @include mq(tablet, min) {
      &:active {
        box-shadow: inset 0px 0px 4px 0px map-get($map: $theme-colors, $key: dangerTextShadow);
      }
    }
  }
}

.updating-loading {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  left: 0px;
  background-color: map-get($map: $theme-colors, $key: darkLight);
  opacity: 0.7;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}

.badge-container {
  position: absolute;
  right: 0px;
  top: -6px;
  background-color: map-get($map: $theme-colors, $key: dangerText);
  border-radius: 5px;
  opacity: 0.9;

  .badge-number {
    @include pStyle(treb, 14px, white, 0px);
    padding: 1px 5px;
    margin: 0;
  }
}

.pnf-container {
  height: 100vh;
  width: 100vw;

  .pnf-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

    .pnf-number {
      @include pStyle(treb, 90px, main, -5px);
      margin: 0;

      i {
        font-size: 50px;
        color: map-get($map: $theme-colors, $key: dangerText) !important;
      }
    }

    .pnf-text {
      @include pStyle(lucida, 28px, main, 0px);
    }
  }
}


.wrap {
  white-space: pre-wrap;
  // word-wrap: break-word;
  word-break: break-all;
}

.dim {
  color: map-get($map: $theme-colors, $key: dashHeaderBar)!important;
}

.feed-post-container {
  position: relative;
  top: 60px;
}


