body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.nav-container {
  width: 100vw;
  height: 60px;
  position: absolute;
  z-index: 2;
}

.nav-container .nav-response {
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: white;
}

.nav-container .nav-response .nav-brand p {
  margin-top: 3px;
  font-size: 40px;
  padding: 5px 0;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  color: #00CBF5;
  letter-spacing: 0px;
  -webkit-transition: 1s;
  transition: 1s;
}

@media only screen and (max-width: 575px) {
  .nav-container .nav-response .nav-brand p {
    font-size: 30px;
    letter-spacing: -2px;
  }
}

.nav-container .nav-response .nav-link ul {
  padding: 8px 0;
  margin: 0;
  list-style: none;
}

.nav-container .nav-response .nav-link ul li {
  position: relative;
  display: inline;
  margin: 0 15px;
  cursor: pointer;
  font-size: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.nav-container .nav-response .nav-link ul li::after {
  content: "";
  position: absolute;
  bottom: -7px;
  left: 0px;
  width: 0px;
  height: 3px;
  background-color: #00CBF5;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.nav-container .nav-response .nav-link ul li:hover {
  color: #00CBF5;
}

.nav-container .nav-response .nav-link ul li:hover::after {
  width: 100%;
}

.nav-container .nav-response .nav-small-container i {
  cursor: pointer;
  font-size: 32px;
  color: #00CBF5;
  padding: 10px 10px;
}

@-webkit-keyframes slideDown {
  from {
    height: 0px;
  }
  to {
    height: 80px;
  }
}

@keyframes slideDown {
  from {
    height: 0px;
  }
  to {
    height: 80px;
  }
}

.nav-container .nav-response .nav-small-container:hover .nav-small-btn {
  -webkit-animation: slideDown 0.5s ease-in-out forwards;
          animation: slideDown 0.5s ease-in-out forwards;
}

.nav-container .nav-response .nav-small-container .nav-small-btn {
  position: absolute;
  top: 60px;
  left: 0px;
  height: 0px;
  overflow: hidden;
}

.nav-container .nav-response .nav-small-container .nav-small-btn div {
  height: 40px;
  width: 100vw;
  text-align: center;
  background-color: rgba(0, 204, 245, 0.167);
  border-bottom: 1px solid #00CBF5;
  overflow: hidden;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.nav-container .nav-response .nav-small-container .nav-small-btn div p {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 18px;
  padding: 5px 0;
  margin: 0;
  color: #00CBF5;
  font-weight: bold;
  letter-spacing: 1px;
}

.hp-container .hp-img-container img {
  height: 100vh;
  width: 100%;
  resize: both;
  -webkit-filter: brightness(40%);
          filter: brightness(40%);
}

.hp-container .hp-content {
  width: 80%;
  position: absolute;
  top: 45%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: white;
}

.hp-container .hp-content p.main-header {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 50px;
  margin-bottom: 30px;
}

@media only screen and (max-width: 575px) {
  .hp-container .hp-content p.main-header {
    font-size: 32px;
  }
}

.hp-container .hp-content p.second-header {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 22px;
  letter-spacing: 5px;
  margin-bottom: 40px;
}

@media only screen and (max-width: 575px) {
  .hp-container .hp-content p.second-header {
    font-size: 18px;
  }
}

.hp-container .hp-content .btn-group button {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  cursor: pointer;
  border-radius: 20px;
  font-size: 16px;
  padding: 5px 25px;
  border: 2px #00CBF5 solid;
  -webkit-box-shadow: 0px 0px 4px 0px #58a0ae;
          box-shadow: 0px 0px 4px 0px #58a0ae;
  outline: none;
}

@media only screen and (min-width: 576px) {
  .hp-container .hp-content .btn-group button:hover {
    -webkit-box-shadow: 0px 0px 13px 0px #58a0ae;
            box-shadow: 0px 0px 13px 0px #58a0ae;
  }
}

.hp-container .hp-content .btn-group button:active {
  -webkit-box-shadow: inset 0px 0px 13px 0px #58a0ae;
          box-shadow: inset 0px 0px 13px 0px #58a0ae;
}

.hp-container .hp-content .btn-group button.explore {
  margin-right: 10px;
  background: none;
  color: #00CBF5;
}

.hp-container .hp-content .btn-group button.seemore {
  background: #00CBF5;
  color: white;
}
/*# sourceMappingURL=styles.css.map */